<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h5>Provide the email address you registered with!</h5>
			<br>
			<br>
			<form #f="ngForm" (ngSubmit)="resetEmail(f.value)">
				<div class="form-group">
					<label>Email</label>
					<input #e="ngModel" [(ngModel)]="email" type="email" name="email" id="email" class="form-control" required email>
					<div *ngIf="e.touched && e.invalid" class="text-danger">Please provide your email address.</div>
				</div>
				<button [disabled]="!f.valid" class="btn btn-outline-secondary">Send</button>
				<br>
				<p class="text-muted">An email will be send to registered address with link for resetting password</p>
			</form>
		</div>
	</div>
</div>
